
box One 
[
    meta i_00(){ name("header");   content("Hello world!");  }
    meta i_01(){ name("section");  content("Section 1");     }
    meta i_02(){ name("section");  content("Section 2");     }
    meta i_03(){ name("article");  content("This is an article");  }
    meta i_04(){ name("footer");   content("My footer");     }
] 


